<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="ServerHost0" value="http://localhost:8501/v1/models/ssd_mobilenet_v1_coco:predict" />
    <add key="ServerHost1" value="http://localhost:8501/v1/models/mask_rcnn_inception_v2:predict" />
    <add key="ServerHost2" value="http://localhost:8501/v1/models/faster_rcnn_inception_v2:predict" />
    <add key="Threshold" value="0.7" />
  </appSettings>
  
</configuration>